/*Component*/
.reactEventLayer{

}
.reactEventLayer .wrapperLayers{
  position: relative;
  overflow: hidden;
}

.reactEventLayer .wrapperLayer{
  position: absolute;
  width: 100%;
  height: 100%;
}
